.header {
    margin-bottom:30px;
    background-color: #ffffff;
    border-bottom-style: dashed;
}
.header > h1 {
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.feed {
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    width:500px;
    background-color: #ffffff;
    border: solid 1px #cfcfcf;
    border-radius:4px;
}
.feed h3 {
    margin:5px;
    width:auto;
}
.tweet{
    position:relative;
    background-color: #fafafa;
    padding:5px;
    border-radius:4px;
    margin-bottom:4px;
}

.tweet>.user{
    font-weight: bold;
    cursor: pointer;
    display:inline-block;
}
.tweet>.message{
    display:block;
    margin-left:10px;
}
.tweet>.timestamp{
    display:block;
    position:absolute;
    top:0;
    right:0;
    color:gray;
}

.button {
    padding:5px;
    cursor:pointer;
    display:inline;
    text-align:center;
    width:80px;
    color: #414141;

    font-weight: bold;
    border-radius: 5px;
    border: solid 1px green;

}